@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('/fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierRegular';
  src: url('/fonts/courier-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

