.text

  p
    font-family 'HelveticaNeueMedium'
    color #fff
    font-size 60px
    text-transform uppercase
    position absolute
    top 50%
    transform translateY(-50%)
    font_size(60px, 72)
