section.about

  .background
    .color

  .content
    h1 Double
    p.description My name is Giulian Drimba and I’m brazillian interactive developer living in São Paulo - BR. I am always researching and trying new technologies to expand the possibilities of my work. My interests include UI motion design, generative art, natural systems, design, typography, functional programming, 3d and math
    h1.PI PI
    footer.footer
      p.contact
        a(href="mailto:giuliandrimba@gmail.com") giuliandrimba@gmail.com
      p.social I am on&nbsp;
        a(href="https://github.com/giuliandrimba", target="_blank") github
        | ,&nbsp;
        a(href="https://twitter.com/giuliandrimba", target="_blank") Twitter
        | &nbsp;and&nbsp;
        a(href="https://www.linkedin.com/in/giuliandrimba", target="_blank") Linkedin
        |.

    .a
      a(href="http://asomasede.com", target="_blank")
        .line
      a(href="http://asomasede.com", target="_blank") A
