section.welcome

  .background

  .slider-arrows
    .next.arrow
      .icon
      .mask
        .line
    .prev.arrow
      .icon
      .mask
        .line

  .works-link

    .square
      .top
      .bottom
      .left
      .right

    .lines.lines1
      .top
      .middle
      .bottom

    .lines.lines2
      .top
      .middle
      .bottom

  .iframe-container
