.logo
  .border-top.border
  .border-bottom.border
  .border-left.border
  .border-right.border
  ul
    li.v-line.line
    li.v-line.line
    li.v-line.line
    li.h-line.line
    li.h-line.line
    li.h-line.line

